<header class="p-2 bg-naranja fixed-top">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/home']">HOME</a>
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link mx-md-3" [routerLink]="['/punto1']">PUNTO 1</a>
                    <a class="nav-link mx-md-3" [routerLink]="['/punto2']">PUNTO 2</a>
                    <a class="nav-link mx-md-3" [routerLink]="['/punto3']">PUNTO 3</a>
                </div>
            </div>
        </div>
    </nav>
</header>