<div class="container-fluid bg-dark padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 aside mb-4 mb-md-0 pb-4">
        <h2 class="text-white text-center mt-3">Contenido de interés</h2>
        <ul class="list-group rounded-0">
          <li class="list-group-item list-group-item-action">
            <a routerLink="/punto1" class="stretched-link">
              Más Noticias
            </a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a routerLink="/punto2" class="stretched-link">
              Juego del Ahorcado
            </a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a routerLink="" class="stretched-link">
              Sitio en construcción
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-8 noticias">
        <div class="row gy-3">
          <div class="col-lg-6">
            <div class="card rounded-0">
              <img src="../../../assets/img/home1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Astrónomos identifican las estrellas desde las que cualquier alienígena podría tener vistas de la Tierra</p>
              </div>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card rounded-0">
              <img src="../../../assets/img/home2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Un objeto misterioso bloqueó una estrella gigante durante 200 días</p>
              </div>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
          <div class="col-12">
            <div class="card rounded-0">
              <img src="../../../assets/img/home3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">La NASA anuncia que visitará Venus por primera vez en casi 30 años</p>
              </div>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
