<div class="container-fluid bg-dark padding">
    <div class="row">
        <div class="col-md-4 p-0 d-flex flex-column align-items-center justify-content-center">
            <div class="imagen text-center position-relative">
                <img class="img-fluid" src="assets/img/{{intentoImg}}">
                <p class="intentos text-center text-white position-absolute start-50 translate-middle-x">
                    Intentos: <span>{{intentos.contadorIntentos}}</span>
                </p>
            </div>
        </div>
        <div class="col-md-8">

            <h3 class="text-center text-white my-2 my-md-0">Categoría: {{categoria | uppercase}}</h3>
            
            <p class="text-center palabra-oculta my-md-4">
                <span *ngFor="let oculta of palabraOculta" class="border text-light">{{oculta}}</span>
            </p>
            
            <div class="row row-cols-auto g-3 justify-content-center my-md-2">
                <div *ngFor="let tecla of teclado" class="col">
                    <button [disabled]="tecla.isSelected" (click)="reemplazarLetra(tecla.simbolo)" 
                            type="button" class="btn btn-letra shadow-none">
                        {{tecla.simbolo}}
                    </button>
                </div>
            </div>

            <button [class]="oculto" [disabled]="desactivado" (click)="reiniciar()" type="button" class="btn btn-reiniciar shadow-none d-block m-auto">
                Jugar de nuevo
            </button>
        </div>
    </div>
    
</div>
