<div class="container-fluid bg-dark padding">
    <div class="row justify-content-center">
        <form class="col-md-8 bg-white p-5 rounded">
          <h2 class="text-center">Registrar compra de pasaje</h2>
          <div class="row">
            <div class="col-12 mb-3">
              <label for="dni" class="form-label">DNI</label>
              <input type="number" class="form-control" id="dni" [(ngModel)]="pasaje.dniPasajero" name="dniPasajero">
            </div>

            <div class="col-6 mb-3">
              <label for="categoria" class="form-label">Categoria</label>
              <select (change)="calcularTotal()" class="form-select" id="categoria" [(ngModel)]="pasaje.categoriaPasajero" name="categoriaPasaje">
                <option value="" disabled>Seleciona Categoría</option>
                <option value="m">Menor</option>
                <option value="a">Adulto</option>
                <option value="j">Jubilado</option>
              </select>
            </div>

            <div class="col-6 mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input (change)="calcularTotal()" type="number" class="form-control" id="precio" [(ngModel)]="pasaje.precioPasaje" name="precioPasaje">
            </div>
          </div>
          <label *ngIf="ingresados" class="col-12 form-label p-2 border text-center bg-light text-secondary total">Total a pagar: {{ calcularTotal() | currency }}</label>
          <div class="text-center">
            <button (click)="registrarCompra()" type="submit" class="btn bg-naranja mt-4 mx-2">{{ seleccionado ? 'GUARDAR' : 'REGISTRAR' }}</button>
            <button *ngIf="seleccionado" (click)="cancelar()" type="submit" class="btn bg-naranja mt-4 mx-2">CANCELAR</button>

          </div>
        </form>
    </div>

    <div class="row mt-5">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table table-bordered table-light caption-top text-center align-middle">
            <caption class="text-center bg-black text-white">Lista de pasajes</caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">DNI</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoría</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of pasajes">
                <th scope="row">{{ p.id }}</th>
                <td>{{ p.dniPasajero }}</td>
                <td>{{ p.precioPasaje | currency }}</td>
                <td>{{ p.categoriaPasajero | uppercase }}</td>
                <td>{{ p.fechaCompra | date:'dd/MM/yyyy' }}</td>
                <td>
                  <button (click)="seleccionar(p)" class="btn btn-secondary m-1 rounded-circle">
                    <i class="bi bi-pen"></i>
                  </button>
                  <button (click)="eliminar(p)" class="btn bg-naranja btn-eliminar m-1 rounded-circle">
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 mt-4 mt-md-0">
        <div class="card px-4">
          <div class="card-body">
            <h5 class="card-title text-center">Resumen de ventas</h5>
            <div class="row p-2 my-3 text-center bg-warning rounded">
              <div class="col-6">
                <span>Menores</span>
              </div>
              <div class="col-6">
                <span class="me-2">{{ cacularTotalRecaudadoPorCategoria('m') | currency }}</span>
                <span class="badge bg-secondary">{{contarPasajes('m')}} pasajes</span>
              </div>
            </div>
            <div class="row p-2 my-3 text-center bg-naranja rounded">
              <div class="col-6">
                <span>Adultos</span>
              </div>
              <div class="col-6">
                <span class="me-2">{{ cacularTotalRecaudadoPorCategoria('a') | currency }}</span>
                <span class="badge bg-secondary">{{contarPasajes('a')}} pasajes</span>
              </div>
            </div>
            <div class="row p-2 my-3 text-center bg-warning rounded">
              <div class="col-6">
                <span>Jubilados</span>
              </div>
              <div class="col-6">
                <span class="me-2">{{ cacularTotalRecaudadoPorCategoria('j') | currency }}</span>
                <span class="badge bg-secondary">{{ contarPasajes('j') }} pasajes</span>
              </div>
            </div>
            <h5 class="card-title text-center">Total recaudado</h5>
            <p class="card-text text-center total">{{ calcularTotalRecaudado() | currency}}</p>
          </div>
        </div>
      </div>
    </div>
</div>