<div class="container-fluid bg-dark padding">
    <div class="row justify-content-center">
        <form class="col-md-8 bg-white p-5 rounded">
          <h2 class="text-center">Registrar compra de pasaje</h2>
          <div class="row">
            <div class="col-12 mb-3">
              <label for="dni" class="form-label">DNI</label>
              <input type="number" class="form-control" id="dni" [(ngModel)]="pasaje.dniPasajero" name="dniPasajero">
            </div>

            <div class="col-6 mb-3">
              <label for="categoria" class="form-label">Categoria</label>
              <select (change)="calcularTotal()" class="form-select" id="categoria" [(ngModel)]="pasaje.categoriaPasajero" name="categoriaPasaje">
                <option value="" disabled>Seleciona Categoría</option>
                <option value="m">Menor</option>
                <option value="a">Adulto</option>
                <option value="j">Jubilado</option>
              </select>
            </div>

            <div class="col-6 mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input (change)="calcularTotal()" type="number" class="form-control" id="precio" [(ngModel)]="pasaje.precioPasaje" name="precioPasaje">
            </div>
          </div>
          <label *ngIf="ingresados" class="col-12 form-label p-2 border text-center bg-light text-secondary total">Total a pagar: $ {{calcularTotal()}}</label>
          <button (click)="registrarCompra()" type="submit" class="btn bg-naranja d-block mx-auto mt-4">REGISTRAR</button>
        </form>
    </div>

    <div class="row mt-5">
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table table-bordered table-light caption-top text-center align-middle">
            <caption class="text-center bg-black text-white">Lista de pasajes</caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">DNI</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoría</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of pasajes">
                <th scope="row">{{ p.id }}</th>
                <td>{{ p.dniPasajero }}</td>
                <td>$ {{ p.precioPasaje }}</td>
                <td>{{ p.categoriaPasajero | uppercase }}</td>
                <td>{{ p.fechaCompra | date:'dd/MM/yyyy' }}</td>
                <td>
                  <button (click)="seleccionar(p)" class="btn btn-secondary m-1 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg>
                  </button>
                  <button (click)="eliminar(p)" class="btn bg-naranja btn-eliminar m-1 rounded-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 mt-4 mt-md-0">
        <div class="card px-4">
          <div class="card-body">
            <h5 class="card-title text-center">Resumen de ventas</h5>
            <div class="row p-2 my-3 text-center bg-warning rounded">
              <div class="col-6">
                <span>Menores</span>
              </div>
              <div class="col-6">
                <span class="me-2">$ {{cacularTotalRecaudadoPorCategoria('m')}}</span>
                <span class="badge bg-secondary">{{contarPasajes('m')}} pasajes</span>
              </div>
            </div>
            <div class="row p-2 my-3 text-center bg-naranja rounded">
              <div class="col-6">
                <span>Adultos</span>
              </div>
              <div class="col-6">
                <span class="me-2">$ {{cacularTotalRecaudadoPorCategoria('a')}}</span>
                <span class="badge bg-secondary">{{contarPasajes('a')}} pasajes</span>
              </div>
            </div>
            <div class="row p-2 my-3 text-center bg-warning rounded">
              <div class="col-6">
                <span>Jubilados</span>
              </div>
              <div class="col-6">
                <span class="me-2">$ {{cacularTotalRecaudadoPorCategoria('j')}}</span>
                <span class="badge bg-secondary">{{contarPasajes('j')}} pasajes</span>
              </div>
            </div>
            <h5 class="card-title text-center">Total recaudado</h5>
            <p class="card-text text-center total">$ {{calcularTotalRecaudado()}}</p>
          </div>
        </div>
      </div>
    </div>

</div>